@charset "UTF-8";
* {
  font-family: 微軟正黑體;
  position: relative;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #d1d1d1;
  border-top: solid 30px #858;
  border-bottom: solid 30px #858;
  box-sizing: border-box;
  overflow: hidden;
}

.namecard {
  width: 350px;
  height: 200px;
  padding: 20px;
  display: absoluate;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #eee;
  letter-spacing: 1px;
  color: #555;
  overflow: hidden;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0px 25px 15px -20px rgba(0, 0, 0, 0.2);
  font-size: 28px;
}
.namecard span {
  font-size: 16px;
  font-weight: 600;
}
.namecard h5 {
  font-size: 12px;
  color: #858;
}
.namecard p {
  font-size: 12px;
  line-height: 22px;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  right: 100px;
}

.circle1 {
  left: 90px;
  bottom: -60px;
  background-color: #858;
}

.circle2 {
  width: 60px;
  height: 60px;
  right: -30px;
  top: -30px;
  border: solid 6px #858;
}

.page_title {
  display: fixed;
  bottom: 200px;
  text-align: center;
  color: #444;
  font-weight: 300;
}

.mark {
  font-size: 300px;
  position: absolute;
  bottom: 100px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.05);
}